[submodule "vendor_bills"]
	path = vendor_bills
	url = git@github.com:William954/vendor_bills.git
[submodule "addenda_rodisa"]
	path = addenda_rodisa
	url = git@gitlab.com:xmarts/xmarts-apps/addenda_rodisa.git
[submodule "amount_to_text"]
	path = amount_to_text
	url = https://github.com/xmarts/amount_to_text.git
[submodule "remove_invoice_cfdi"]
	path = remove_invoice_cfdi
	url = git@gitlab.com:xmarts/xmarts-apps/remove_invoice_cfdi.git
[submodule "account_multi_pay"]
	path = account_multi_pay
	url = git@github.com:viernes/account_multi_pay.git
[submodule "addenda_koblenz"]
	path = addenda_koblenz
	url = git@gitlab.com:xmarts/xmarts-apps/addenda_koblenz.git
[submodule "no_negative_stock_12"]
	path = no_negative_stock_12
	url = git@github.com:xmarts/no_negative_stock_12.git
[submodule "remision_lala"]
	path = remision_lala
	url = git@gitlab.com:xmarts/xmarts-apps/remision_lala.git
[submodule "xmarts_financial_factor"]
	path = xmarts_financial_factor
	url = git@gitlab.com:xmarts/xmarts-apps/xmarts_financial_factor.git

[submodule "xmarts/account-dynamic-reports"]
	path = xmarts/account-dynamic-reports
	url = git@github.com:xmarts/account-dynamic-reports.git
	branch = 13.0

[submodule "xmarts/account-financial-reporting"]
	path = xmarts/account-financial-reporting
	url = git@github.com:xmarts/account-financial-reporting.git
	branch = 13.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0
